.popupContainer {
  position: absolute;
  background-color: #ffffff;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid #e2e8f0;
  width: auto;
  min-width: 250px;
  max-width: 350px;
  z-index: 1000;
  transform: translate(-50%, 10px);
}

.wordTitle {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.translation {
  font-size: 1.2rem;

  min-height: 30px;
  color: var(--dark-text);
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
}

.statusButton {
  flex-grow: 1;
  padding: 12px;
  font-size: 1rem;
}

.knownButton {
  background-color: #48bb78;
  border: 1px solid #38a169;
  color: var(--white-text);
}

.knownButton:hover {
  background-color: #38a169;
}

.unknownButton {
  background-color: #f56565;
  border: 1px solid #e53e3e;
  color: var(--white-text);
}

.unknownButton:hover {
  background-color: #e53e3e;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  line-height: 1;
  cursor: pointer;
  color: #a0aec0;
  padding: 4px;
}

.closeButton:hover {
  color: #4a5568;
}
