.pageContainer {
  /* display: flex;
  flex-direction: column; */
  max-width: 1224px;
  margin: 0 auto;
}



.content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 2rem;
  line-height: 2;
  white-space: pre-wrap;
  margin: 0 auto; /* Center the content */
  width: 100%;
  box-sizing: border-box; /* Fix horizontal scroll issue */
}
